*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/trabajos.png);
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 4em;
    color: #fff;

}

.banner .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.banner .content .btn {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.banner .content .btn:hover{
    letter-spacing: 6px;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
#header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
#header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration:none;

}
#header.sticky .logo{
    color: #111;
}
#header .logo span{
    color: #ff0157;
}
#header .navigation{
    position: relative;
    display: flex;
}
#header .navigation li{
    list-style: none;
    padding-top: 8px;
    margin-left: 30px;
}
#header .navigation li a{
text-decoration:none;
color: #fff;
font-weight: 500;
}
#header.sticky .navigation li a {

    color: #111;
}
#header.sticky .navigation li a:hover {
    color: #ff0157;
}

.menu{
    width: 100%;
    height: 90px;
    background: #212F3C;
    position: fixed;
    z-index: 1;
}
#about {
    padding: 100px;
}
#about p{
    text-align: justify;
}
#about .titleN{
    color: #111;
    font-size: 2em;
    font-weight: 500;
}
#about .titleN span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}


#about .imgBx img{
    position: relative;
    width: 100%;
    height:300px;
    margin: 10px;
}

#team{
    background:#1B2631   
    ;
    padding: 80px;

}
#team .titleTeam{
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}
#team .titleTeam span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}


#team .card{
    margin: 10px;
    background: linear-gradient(45deg,#1B2631,#212F3C);
    
    height: 340px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

}
#team .card img{
    margin: 30px;
    border-radius: 50%;
    height: 180px;
}
#team .card h3{
    font-size: 1rem;
    text-align: center;
    color: #fff;
}
#team .card p{
    text-align: center;
    
    color: #fff;
}

#contact {
    padding: 80px;
    padding-bottom: 10px;
}
#contact .titleContact{
    text-align: center;
    color: #111;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: px;
}
#contact .titleContact span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

#contact .info h3{
    text-align: center;
    font-style: italic;
    margin-bottom: 25px;
}

#contact .info  span{
    font-weight: bold;
}
#contact .info p{
    margin-left: 20px;
}
#contact .infoMapa h3{
    text-align: center;
    font-style: italic;
}

#footer {
    background:   linear-gradient(45deg,#1B2631,#212F3C);
z-index: 1;
}
#footer .redesSociales{
   min-height: 160px;
   text-align: center;
}
#footer ul{
    text-align: left;
    display: inline-block;
    padding: 25px 25px 5px 25px;
}
#footer li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin: 5px 50px 5px 50px;
    
    position: relative;
}
#footer li a{
    position: absolute;
    padding: 20px;
    background: #212F3C;
    color: #fff;
    font-size: 1.5rem;
    animation: redes 8s linear infinite normal both;
}
#footer .copyright{
    color: #fff;
    margin-bottom: 10px;
    
}


@keyframes redes{
    from{
        transform: rotate(0deg);
        
        
    }
    40%{
        color: #ff0157;
        background: #fff;
    }
    60%{
        color: #ff0157;
        background: #fff;
    }
    to{
        transform: rotate(360deg);
    }
}
/*diseño login*/
.tooltip{
    z-index: 10001;
}
#login{
    position: relative;
    width: 100%;
    height: 100vh;
    
}
#login .cardL{
    height: 100vh;
    width: 100%;
    background: url(../img/bk.png) no-repeat;
    background-size: 100% 102%;
    
    
    /*Ayuda a centrar un elemento*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Ayuda a centrar un elemento*/
}
#login .cardL img{
border-radius: 50%; 

height: 50%;
width: 50%;
animation: logo 10s linear infinite normal both;/*animación del logo*/
animation-direction: alternate;
}

@keyframes logo{
    from{
        transform: rotate(0deg);
        height: 20vh;
width: 20vh;
        
    }
    
    to{
        transform: rotate(360deg);
        height: 60vh;
width: 60vh;
    }
}

#login .formL{
    padding: 3%;
}

#login .formL .titleL{
    margin-top: 45px;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}

#login .formL .separatorL{
    width: 100%;
    height: 4px;
    background-color: #843bc7;
}

.welcome-messageL{
    margin-top: 5px;
    text-align: center;
}
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-controlL {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

input {
    width: 100%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color   0.4s;
}

input:focus ~ i {
    color: #843bc7;
}

button.submit,button.button {
    color: #fff;
    padding: 14px 64px;
    margin: 10px 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
}
button.button{
    background-image: linear-gradient(to right, rgb(212, 28, 28), #f00808);
}

button.submit:hover {
    opacity: 0.9;
    cursor: pointer;
}